.header{
	height: auto;
	background-color: black;
	color: white;
	text-align: center;
	padding: 2% 2% 2% 2%;
}

.main-content{
	height: 500px;
	background-color: #C0C0C0;
}

.footer{
	background-color: black;
	color: white;
	height: auto;
	padding: 2% 2% 2% 2%;
	text-align: center;
}